<!DOCTYPE html>
<html>
  <head>
    <title>Polygram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">

    <script type="text/javascript"> window.splashURL = "<%= image_url('instagram_signup_slash.png') %>" </script>
    <script type="text/javascript"> window.userDefaultProfilePicture = "<%= image_url('default_profile_picture.jpg') %>" </script>
    <script type="text/javascript"> window.likeHeart = "<%= image_url('heart.png') %>" </script>

    <%# <link rel="shortcut icon" type="image/png" href=".././app/assets/images/social-instagram-new-circle-512.png"> %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
