<!DOCTYPE html>
<html>
  <head>
    <title>Polygram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">

    <script type="text/javascript"> window.splashURL = "<%= image_url('instagram_signup_slash.png') %>" </script>
    <script type="text/javascript"> window.userDefaultProfilePicture = "<%= image_url('default_profile_picture.jpg') %>" </script>
    <script type="text/javascript"> window.likeHeart = "<%= image_url('heart.png') %>" </script>
    <script type="text/javascript"> window.followerModalClose = "<%= image_url('x.png') %>" </script>

    <script type="text/javascript"> window.bookmark = "<%= image_url('bookmark.png') %>" </script>
    <script type="text/javascript"> window.bookmark2 = "<%= image_url('bookmark2.png') %>" </script>
    <script type="text/javascript"> window.bubble = "<%= image_url('bubble.png') %>" </script>
    <script type="text/javascript"> window.compass = "<%= image_url('compass.png') %>" </script>
    <script type="text/javascript"> window.gear = "<%= image_url('gear.png') %>" </script>
    <script type="text/javascript"> window.heart_red = "<%= image_url('heart_red.png') %>" </script>
    <script type="text/javascript"> window.heart_white = "<%= image_url('heart_white.png') %>" </script>
    <script type="text/javascript"> window.plus = "<%= image_url('plus.png') %>" </script>
    <script type="text/javascript"> window.user = "<%= image_url('user.png') %>" </script>
    <script type="text/javascript"> window.search = "<%= image_url('search.png') %>" </script>

    <script type="text/javascript"> window.apple = "<%= image_url('apple.jpg') %>" </script>
    <script type="text/javascript"> window.microsoft = "<%= image_url('microsoft.jpg') %>" </script>
    <script type="text/javascript"> window.google = "<%= image_url('google.jpg') %>" </script>
    <script type="text/javascript"> window.userProPic = "<%= image_url('userProPic.png') %>" </script>

    <%# <link rel="shortcut icon" type="image/png" href=".././app/assets/images/social-instagram-new-circle-512.png"> %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
